{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Metody estymacji głębi</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'depthQualifier/style.css' %}">
        
    </head>
    <body>
        <div class="navbar">
            <ol>
                <li><a href="{% url 'index' %}">Homepage</a></li>
                <li><a href="{% url 'method_form' %}">Submit</a></li>
                <li><a href="{% url 'methods_list' %}">Ratings</a></li>
                <li><a href="{% url 'downloads' %}">Downloads</a></li>
            </ol>
        </div>

        <div class="block">
            
        </div>
        <!-- <a href="{% url 'testing' %}" class="submit-button">Testy</a> -->
        <div id="container-rat">
            <!-- <center><div class="upload-container">
                Prace nad stworzeniem internetowej bazy do porównywania metod estymacji map głębi. Studenci stworzą oprogramowanie serwera na podstawie pracy An Online Platform for Testing and Evaluating Random Number Generators. Wynikami praktyki powinny być wstępne implementacje odpowiedniego serwera i wykonanie jego testów.

Pozdrawiam,
Dawid Mieloch

        </div>
    </center> -->
        {% if est_methods %}
        <center><div class="sort-container">
            
                <span class="sort-info">SORT BY</span><br>

            <form method="GET">
                <label>
                    <input type="radio" name="sort" value="idUP" onclick="this.form.submit()" />
                    <span>ID ⬆️</span>
                </label>
                <label>
                    <input type="radio" name="sort" value="idDOWN" onclick="this.form.submit()" />
                    <span>ID ⬇️</span>
                </label>
                <label>
                    <input type="radio" name="sort" value="nameUP" onclick="this.form.submit()"/>
                    <span>Name ⬆️</span>
                </label>
                <label>
                    <input type="radio" name="sort" value="nameDOWN" onclick="this.form.submit()"/>
                    <span>Name ⬇️</span>
                </label>
            </form>
        </div></center>
        {% endif %}
</div>
<div style="clear:both"></div>

        {% if est_methods %}
        <div id="container-ratings">
            <div class="table-container">
                <table class = "table table-sortable">
                    <tr>
                        <th rowspan="3">Date</th>
                        <th rowspan="3" width="10%">Method name</th>
                        <th colspan="6">PoznanFencing</th>
                        <th colspan="6">Carpark</th>
                        <th rowspan="3">Download</th>
                        <!-- <th rowspan="3">Delete method</th> -->
                    </tr>
                    <tr>
                        <!-- QP depth/QP texture -->
                        <th colspan="3" style="font-size: small;">Mean PSNR of synthesized views [dB]</th>
                        <th colspan="3" style="font-size: small;">Bitrate of compressed synthesized views [Mb/s]</th>
                        <th colspan="3" style="font-size: small;">Mean PSNR of synthesized views [dB]</th>
                        <th colspan="3" style="font-size: small;">Bitrate of compressed synthesized views [Mb/s]</th>
                    </tr>
                    <tr>
                        <!-- DATE SORT -->
                        <!-- <th>
                            <form method="GET">
                                <label>
                                    <input type="radio" name="sort" value="dateUP" onclick="this.form.submit()" />
                                    <span>⬆️</span>
                                </label>
                            </form>
                        </th>
                        <th>
                            <form method="GET">
                                <label>
                                    <input type="radio" name="sort" value="dateDOWN" onclick="this.form.submit()" />
                                    <span>⬇️</span>
                                </label>
                            </form>
                        </th> -->
                        <!-- METHOD_NAME SORT -->
                        <!-- <th>
                            <form method="GET">
                                <label>
                                    <input type="radio" name="sort" value="nameUP" onclick="this.form.submit()" />
                                    <span>⬆️</span>
                                </label>
                            </form>
                        </th>
                        <th>
                            <form method="GET">
                                <label>
                                    <input type="radio" name="sort" value="nameDOWN" onclick="this.form.submit()" />
                                    <span>⬇️</span>
                                </label>
                            </form>
                        </th> -->

                        <!-- PoznanFencing -->
                        <th style="font-size: small;">Uncompressed</th>
                        <th style="font-size: small;">Low compression</th>
                        <th style="font-size: small;">High compression</th>
                        <th style="font-size: small;">Uncompressed</th>
                        <th style="font-size: small;">Low compression</th>
                        <th style="font-size: small;">High compression</th>
                        <!-- Carpark -->
                        <th style="font-size: small;">Uncompressed</th>
                        <th style="font-size: small;">Low compression</th>
                        <th style="font-size: small;">High compression</th>
                        <th style="font-size: small;">Uncompressed</th>
                        <th style="font-size: small;">Low compression</th>
                        <th style="font-size: small;">High compression</th>
                    </tr>
            {% for method in est_methods %}
                    <tr>
                        <td>{{ method.upload_date|date:'d/m/Y' }}</td>
                        <td>
                            <div class="method_shown method">{{ method.method_name }}
                                <div class="innerDesc">
                                    <p>{{ method.desc }}</p>
                                </div>
                            </div>
                        </td>
                        <!-- PoznanFencing -->
                        <td style="text-align: center;">{% if method.seq_1_PSNR_raw is null or blank %}🔄{% else %}{{ method.seq_1_PSNR_raw }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_PSNR_1018 is null or blank %}🔄{% else %}{{ method.seq_1_PSNR_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_PSNR_3042 is null or blank %}🔄{% else %}{{ method.seq_1_PSNR_3042 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_bitrate_raw is null or blank %}🔄{% else %}{{ method.seq_1_bitrate_raw }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_bitrate_1018 is null or blank %}🔄{% else %}{{ method.seq_1_bitrate_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_bitrate_3042 is null or blank %}🔄{% else %}{{ method.seq_1_bitrate_3042 }}{% endif %}</td>

                        <!-- Carpark -->
                        <td style="text-align: center;">{% if method.seq_2_PSNR_raw is null or blank %}🔄{% else %}{{ method.seq_2_PSNR_raw }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_PSNR_1018 is null or blank %}🔄{% else %}{{ method.seq_2_PSNR_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_PSNR_3042 is null or blank %}🔄{% else %}{{ method.seq_2_PSNR_3042 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_bitrate_raw is null or blank %}🔄{% else %}{{ method.seq_2_bitrate_raw }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_bitrate_1018 is null or blank %}🔄{% else %}{{ method.seq_2_bitrate_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_bitrate_3042 is null or blank %}🔄{% else %}{{ method.seq_2_bitrate_3042 }}{% endif %}</td>

                        <!-- common -->
                        <td><a href="{{ method.src.url }}" style="font-size: large; text-align: center;">💾</a></td>
                        <!-- <td><a href="{% url 'delete_method' method_id=method.id %}">Delete</a></td> -->
                    </tr>
            {% endfor %}
                </table>
            </div>
        {% else %}
        <br><br><br><br>
        <div id="container-no-ratings">
            <div class="table-container">
                <h2>No methods available...<br></h2>
                <h3>
                    <a href="{% url 'method_form' %}">Submit</a> method<br>
                    or<br>
                    <a href="{% url 'downloads' %}">Download</a> sequence textures
                </h3>
            </div>
        {% endif %}
    </div>
    {% if est_methods %}
    <br><br><br>
    {% endif %}
    <div id = "footer">
        Wojciech Kaczmarek Mateusz Szuda &copy; 2023. All rights reserved</br>
    </div>

    </body>
</html>