{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Metody estymacji głębi</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'depthQualifier/style.css' %}">
    </head>
    <body>
        <div class="navbar">
            <ol>
                <li><a href="{% url 'index' %}">Homepage</a></li>
                <li><a href="{% url 'method_form' %}">Upload</a></li>
                <li><a href="{% url 'methods_list' %}">Ratings</a></li>
            </ol>
        </div>

        <div class="block">
            
        </div>
        <a href="{% url 'testing' %}" class="submit-button">Testy</a>
        <div id="container">
            <!-- <center><div class="upload-container">
                Prace nad stworzeniem internetowej bazy do porównywania metod estymacji map głębi. Studenci stworzą oprogramowanie serwera na podstawie pracy An Online Platform for Testing and Evaluating Random Number Generators. Wynikami praktyki powinny być wstępne implementacje odpowiedniego serwera i wykonanie jego testów.

Pozdrawiam,
Dawid Mieloch

        </div>
    </center> -->
        <center><div class="sort-container">
            
                <span class="sort-info">SORT BY</span><br>

            <form method="GET">
                <label>
                    <input type="radio" name="sort" value="idUP" />
                    <span>ID ⬆️</span>
                </label>
                <label>
                    <input type="radio" name="sort" value="idDOWN" />
                    <span>ID ⬇️</span>
                </label>
                <label>
                    <input type="radio" name="sort" value="nameUP"/>
                    <span>Name ⬆️</span>
                </label>
                <label>
                    <input type="radio" name="sort" value="nameDOWN"/>
                    <span>Name ⬇️</span>
                </label>
                <button class="submit-button" type="submit">Confirm</button>
            </form>
        </div>
    </center>
</div>
<div style="clear:both"></div>

        {% if est_methods %}
        <div id="container-ratings">
            <div class="table-container">
                <table>
                    <tr>
                        <th rowspan="3" width="10%">Method name</th>
                        <th colspan="6">PoznanFencing</th>
                        <th colspan="6">Carpark</th>
                        <th rowspan="3">Download</th>
                        <th rowspan="3">Delete method</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="font-size: small;">PSNR (QP depth/QP texture) [dB]</th>
                        <th colspan="3" style="font-size: small;">bitrate (QP depth/QP texture) [Mb/s]</th>
                        <th colspan="3" style="font-size: small;">PSNR (QP depth/QP texture) [dB]</th>
                        <th colspan="3" style="font-size: small;">bitrate (QP depth/QP texture) [Mb/s]</th>
                    </tr>
                    <tr>
                        <!-- PoznanFencing -->
                        <th>(10/18)</th>
                        <th>(30/42)</th>
                        <th>(raw)</th>
                        <th>(10/18)</th>
                        <th>(30/42)</th>
                        <th>(raw)</th>
                        <!-- Carpark -->
                        <th>(10/18)</th>
                        <th>(30/42)</th>
                        <th>(raw)</th>
                        <th>(10/18)</th>
                        <th>(30/42)</th>
                        <th>(raw)</th>
                    </tr>
            {% for method in est_methods %}
                    <tr>
                        <td>{{ method.method_name}}</td>
                        <!-- PoznanFencing -->
                        <td style="text-align: center;">{% if method.seq_1_PSNR_1018 is null or blank %}🔄{% else %}{{ method.seq_1_PSNR_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_PSNR_3042 is null or blank %}🔄{% else %}{{ method.seq_1_PSNR_3042 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_PSNR_raw is null or blank %}🔄{% else %}{{ method.seq_1_PSNR_raw }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_bitrate_1018 is null or blank %}🔄{% else %}{{ method.seq_1_bitrate_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_bitrate_3042 is null or blank %}🔄{% else %}{{ method.seq_1_bitrate_3042 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_1_bitrate_raw is null or blank %}🔄{% else %}{{ method.seq_1_bitrate_raw }}{% endif %}</td>

                        <!-- Carpark -->
                        <td style="text-align: center;">{% if method.seq_2_PSNR_1018 is null or blank %}🔄{% else %}{{ method.seq_2_PSNR_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_PSNR_3042 is null or blank %}🔄{% else %}{{ method.seq_2_PSNR_3042 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_PSNR_raw is null or blank %}🔄{% else %}{{ method.seq_2_PSNR_raw }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_bitrate_1018 is null or blank %}🔄{% else %}{{ method.seq_2_bitrate_1018 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_bitrate_3042 is null or blank %}🔄{% else %}{{ method.seq_2_bitrate_3042 }}{% endif %}</td>
                        <td style="text-align: center;">{% if method.seq_2_bitrate_raw is null or blank %}🔄{% else %}{{ method.seq_2_bitrate_raw }}{% endif %}</td>

                        <!-- common -->
                        <td><a href="{{ seq.src.url }}" style="font-size: large; text-align: center;">💾</a></td>
                        <td><a href="{% url 'delete_method' method_id=method.id %}">Delete</a></td>
                    </tr>
            {% endfor %}
                </table>
            </div>
        {% else %}
            <p> No methods available.</p>
        {% endif %}
    </div>
    <br><br><br>
    <div id = "footer">
        Wojciech Kaczmarek Mateusz Szuda &copy; 2023. All rights reserved</br>
    </div>

    </body>
</html>