{% load static %}
<!DOCTYPE html>
<html>
    <head lang="pl">
        <title>Formularz dodawania sekwencji</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'depthQualifier/style.css' %}">
    </head>
    <body>
        <div class="navbar">
            <ol>
                <li><a href="{% url 'index' %}">Homepage</a></li>
                <li><a href="{% url 'method_form' %}">Submit</a></li>
                <li><a href="{% url 'methods_list' %}">Ratings</a></li>
                <li><a href="{% url 'downloads' %}">Downloads</a></li>
            </ol>
        </div>

        <div class="block">
            
        </div>
        <div id = "container">
            <div class="tile-container">

                <div class="tile-submit">
                    Submit method
                    <form id="submit-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="button" value="Dodaj">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <br><br><br>
        <div id = "footer">
            Wojciech Kaczmarek Mateusz Szuda &copy; 2023. All rights reserved</br>
        </div>
        
    </body>
</html>