{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{{ method.method_name }}'s contents</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'depthQualifier/style.css' %}">
</head>
<body>
    <div class="navbar">
        <ol>
            <li><a href="{% url 'index' %}">Homepage</a></li>
            <li><a href="{% url 'method_form' %}">Submit</a></li>
            <li><a href="{% url 'methods_list' %}">Ratings</a></li>
            <li><a href="{% url 'downloads' %}">Downloads</a></li>
        </ol>
    </div>
    <div class="block">
    </div>

    <div id="container-middle">
        <a href="{% url 'methods_list' %}" class="button">Return to method list</a>
        <div class="basictile display_element">
            <div class="element_fragment">
                <p class="element_info">Method:</p>
                <p class="element_name">{{ method.method_name}}</p>
            </div>
            <div class="element_fragment">
                <p class="element_info">Description:</p>
                <p class="element_desc">{{ method.desc}}</p>
            </div>
        </div>
    </div>
    
</body>
</html>