{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>⚠️TESTS⚠️</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'depthQualifier/style_testing.css' %}">
    </head>
    <body>
        <a href="{% url 'methods_list' %}" class="submit-button return">Wróć</a>
        <center><h1>Methods TESTING!</h1></center>
        {% comment %}
        <div class="sort-container">
            <form method="GET">
                <button class="submit-button return" type="submit" name="process" value="methods">insert MODELS</button>
            </form>
            <form method="GET">
                <button class="submit-button return" type="submit" name="process" value="sequences">insert SEQUENCES</button>
            </form>
            <form method="GET">
                <button class="submit-button return" type="submit" name="process" value="depths">insert DEPTHS</button>
            </form>
        </div>
        {% endcomment %}

        <br><br><br>

        <div>
            <div style="width:33%; float: left; background-color: #ABCDBC;">
                {% comment %} first table {% endcomment %}
                {% if methods %}
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Method ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Src</th>
                            </tr>
                            {% for method in methods %}
                            <tr>
                                <td>{{ method.id }}</td>
                                <td>{{ method.method_name }}</td>
                                <td>{{ method.desc }}</td>
                                <td>{{ method.upload_date }}</td>
                                <td>{{ method.src }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p> No models available.</p>
                {% endif %}
            </div>
            <div style="width:33%; float: left; background-color: #EFADCD;">
                {% comment %} second table {% endcomment %}
                {% if sequences %}
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Seq ID</th>
                                <th>Name</th>
                                <th>Src</th>
                            </tr>
                            {% for seq in sequences %}
                            <tr>
                                <td>{{ seq.id }}</td>
                                <td>{{ seq.seq_name }}</td>
                                <td>{{ seq.seq_src }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p>No models available.</p>
                {% endif %}
            </div>
            <div style="width:33%; float: left; background-color: #EBEBEB;">
                {% comment %} third table {% endcomment %}
                {% if depths %}
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Depth ID</th>
                                <th>FK: Method (ID)</th>
                                <th>FK: Sequence(ID)</th>
                                <th>PSNR_1018</th>
                                <th>bitrate_1018</th>
                                <th>PSNR_3042</th>
                                <th>bitrate_3042</th>
                                <th>PSNR_none</th>
                                <th>bitrate_none</th>
                            </tr>
                            {% for method in depths %}
                            <tr>
                                <td>{{ method.result_id }}</td>
                                <td>{{ method.method_id }}</td>
                                <td>{{ method.seq_id }}
                                    
                                    <!-- {% for seq in seqs %} 
                                    {{ seq.seq_name}}
                                    {% endfor %} -->
                                </td>
                                <td>{{ method.synth_PSNR_1018 }}</td>
                                <td>{{ method.synth_bitrate_1018 }}</td>
                                <td>{{ method.synth_PSNR_3042 }}</td>
                                <td>{{ method.synth_bitrate_3042 }}</td>
                                <td>{{ method.synth_PSNR_none }}</td>
                                <td>{{ method.synth_bitrate_none }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p> No models available.</p>
                {% endif %}
            </div>
        </div>
        <br><br>
        {% comment %}{% endcomment %}
        <div style="background-color: #3a8b63;">
            <table>
                <tr>
                    <th rowspan="3" width="10%">Method name</th>
                    <th colspan="6">PoznanFencing</th>
                    <th colspan="6">Carpark</th>
                </tr>
                <tr>
                    <th colspan="3" style="font-size: small;">PSNR (QP depth/QP texture) [db]</th>
                    <th colspan="3" style="font-size: small;">bitrate (QP depth/QP texture) [Mb/s]</th>
                    <th colspan="3" style="font-size: small;">PSNR (QP depth/QP texture) [db]</th>
                    <th colspan="3" style="font-size: small;">bitrate (QP depth/QP texture) [Mb/s]</th>
                </tr>
                <tr>
                    <!-- PoznanFencing -->
                    <th>(10/18)</th>
                    <th>(30/42)</th>
                    <th>(raw)</th>
                    <th>(10/18)</th>
                    <th>(30/42)</th>
                    <th>(raw)</th>
                    <!-- Carpark -->
                    <th>(10/18)</th>
                    <th>(30/42)</th>
                    <th>(raw)</th>
                    <th>(10/18)</th>
                    <th>(30/42)</th>
                    <th>(raw)</th>
                </tr>
                {% for record in results %}
                <tr>
                    <td>{{ record.method_name}}</td>
                    <!-- PoznanFencing -->
                    <td>{{ record.seq_1_PSNR_1018 }}</td>
                    <td>{{ record.seq_1_PSNR_3042 }}</td>
                    <td>{{ record.seq_1_PSNR_raw }}</td>
                    <td>{{ record.seq_1_bitrate_1018 }}</td>
                    <td>{{ record.seq_1_bitrate_3042 }}</td>
                    <td>{{ record.seq_1_bitrate_raw }}</td>

                    <!-- Carpark -->
                    <td>{{ record.seq_2_PSNR_1018 }}</td>
                    <td>{{ record.seq_2_PSNR_3042 }}</td>
                    <td>{{ record.seq_2_PSNR_raw }}</td>
                    <td>{{ record.seq_2_bitrate_1018 }}</td>
                    <td>{{ record.seq_2_bitrate_3042 }}</td>
                    <td>{{ record.seq_2_bitrate_raw }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% comment %}{% endcomment %}
    </body>
</html>