<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Tile template</title>
        <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
        <link rel="stylesheet" href="../../static/depthQualifier/style.css">
    </head>
    <body class="background">
        <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
        Hello world!
        <div>
        <!--
            <div class="float-child" data-role="tile" data-size="medium" data-effect="hover-zoom-up">
                <div class="slide-front">
                    <img src="../../../media/images/444.jpg" class="h-100 w-100">
                </div>
                <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
                    <p class="text-center">
                        444<br>No response
                    </p>
                </div>
            </div>
            -->
            <div class="float-container">
                <div class="float-child">
                    <img src="../../../media/images/444.jpg">
                    <div class="caption">
                    Lorem ipsum
                    </div>
                </div>
                <div class="float-child">
                    <img src="../../../media/images/444.jpg">
                </div>
                <div class="float-child">
                    <img src="../../../media/images/444.jpg">
                </div>
                <div class="float-child">
                    <img src="../../../media/images/444.jpg">
                </div>
                <div class="float-child">
                    <img src="../../../media/images/444.jpg">
                </div>
                <div class="float-child">
                    <img src="../../../media/images/444.jpg">
                </div>
            </div>
        </div>
    </body>
</html>